*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: FDFDFD;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(246, 245, 245);
}

.navbar{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.road {
    position: absolute;
    right: 250px;
    top: 120px;
    width: 200px;
    height: 80%;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Road Lines */
.road::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background: repeating-linear-gradient(180deg, rgb(252, 251, 251) 0px, rgb(252, 251, 251) 20px, transparent 20px, transparent 40px);
    right: 95px;
}

.car {
    position: absolute;
    top: 70%;
    top: 50px;
    right: 20px;
    width: 50px;
    animation: drive 6s linear;
    height: 80px;
    background: #333;
}

@keyframes drive {
    0% { top: 70%; }
    100% { top: 50px; }
}

.destination {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 40px;
}

.msg {
    position: absolute;
    top: -20px;
    right: 20px;
    /* width: 40px; */
    height: 90px;
    /* background: blue; */
    background: #333;
}



.speech-cloud {
    position: absolute;
    top: -50px;
    right: 60px;
    width: 180px;
    height: 80px;
    background: rgb(94, 182, 200);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 16px;
    display: none;
    color: white;
    /* border-radius: 50%; */
}

.cloud-01 {
    position: absolute;
    top: 30px;
    right:90px;
    width: 20px;
    height: 20px;
    background: rgb(94, 182, 200);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 16px;
    display: none;
    /* border-radius: 50%; */
}

.cloud-02 {
    position: absolute;
    top: 50px;
    right:70px;
    width: 15px;
    height: 15px;
    background: rgb(94, 182, 200);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 16px;
    display: none;
    /* border-radius: 50%; */
}

/* Speech Cloud Tail */
/* .speech-cloud::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 60%;
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    /* line-height: 80px; */
    /* border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
} */

